<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fluttercandies.flutter_bdface_collect">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <!-- 活体图像采集界面 -->
        <activity
                android:name=".FaceLivenessActivity"
                android:hardwareAccelerated="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/Theme_NoTitle"/>

        <!-- 人脸跟踪采集界面 -->
        <activity
                android:name=".FaceDetectActivity"
                android:hardwareAccelerated="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/Theme_NoTitle"/>
    </application>
</manifest>
